# Database connection string
DATABASE_URL=postgres://postgres:password@localhost:5432/development

# Better Auth secret
BETTER_AUTH_SECRET=someSuperSecret

# Better Auth URL
BETTER_AUTH_URL=http://localhost:3000
